@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --primary-white: #fff;
}

.brandLogo {
  width: 5rem;
}


a.nav-link {
  cursor: pointer;
}

.navbar-nav > li > a {
  color: var(--primary-white);
}