@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white: #fff;
  --weird-colour: #146C94;
  --intro-background: #144272;
  --project-background: #205295;
  --contact-me-background: #2C74B3;
  --gitHub-link: #F94A29;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}

/* Navbar */

.brandLogo {
  width: 4rem;
}


nav a.nav-link {
  letter-spacing: 0.063rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin: 0 0.2rem 0 0.2rem;
  color: var(--primary-white);
}

nav .container-fluid {
  margin: 0 4.5rem 0 4.5rem;
}

/* Intro */

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 4rem 0;
  background-color: var(--intro-background);
}

.picture-container {
  display: flex;
  justify-content: center;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.profilePic {
  width: 150%;
  height: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
}

/* Projects */

.project-container {
  padding: 3rem 0 4rem 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--project-background);
}
.project-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: solid black
}
.project-caption {
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
}

.project-caption a {
  color: var(--gitHub-link);

}

.projectHeading {
  margin-bottom: 2rem;
}


.carousel {
  width: 30%;
  height: 10%;
}

.carousel-caption {
  background-color: black;
  opacity: 0.8;
  margin: 0 10%;
}

/* Contact-Me */

.contactMe-container {
  background-color: var(--contact-me-background);
  text-align: center;
  padding: 3rem 4rem 3rem 4rem;
}

.contactMe-heading {
  margin-bottom: 2rem;
}

.contactMe-container input, .contactMe-container textarea {
  box-sizing: border-box;
  border: 0;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row input{
  width: 40%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}




