@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --primary-white: #fff;
}

.brandLogo {
  width: 5rem;
}


nav a.nav-link {
  letter-spacing: 0.063rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin: 0 0.2rem 0 0.2rem;
  color: var(--primary-white);
}

.container-fluid {
  margin: 0 4.5rem 0 4.5rem;
}